---
---
<footer id="footer">
  <div id="footer-copy">©2025 JOEPLAB Design Studio</div>
  <div id="footer-socials">
    <a href="#" class="footer-social">Twitter</a>
    <a href="#" class="footer-social">Instagram</a>
    <a href="#" class="footer-social">LinkedIn</a>
  </div>
</footer>
