---
---
<section id="hero" class="section">
  <h1 id="hero-title">
    We create<br/>design experiences<br/>that speak
  </h1>
  <div id="hero-scroll">
    <div id="hero-scroll-line"></div>
    <span>Scroll to explore</span>
  </div>
</section>
